<html>
  <head>
    <title>Greed</title>
    <style>
      .row::after{
        content: '';
        clear:both;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="left">
        <table id="game_table">
        </table>
      </div>
      <div class="right">
      </div>
    </div>
    <script>
      "use strict";
    </script>
  </body>
</html>