<!DOCTYPE html>
<html>
  <head>
    <title>Greed</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css" type="text/css" />
  </head>
  <body>
    <h1>Greed</h1>
      <table id="game_table">
      </table>
      <div id="info_panel">
        Score: <span id="score">0</span><br/>
        <button id="new_game">New Game</button><br/>
        <button id="help">Help</button>
      </div>
    <script src="js/main.js"></script>
  </body>
</html>